language: python
python:
  - 2.6
  - 2.7
  - 3.3
install:
  - pip install --use-mirrors -r test-requirements.txt
  - pip install --use-mirrors coveralls
script:
  coverage run --source=py2pack setup.py test
after_success:
  coveralls
