# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unit tests

on: [push, pull_request]

jobs:
    test:

        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                python-version: ["3.8", "3.9", "3.10", "3.11"]

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install tox
              run: python -m pip install --upgrade pip tox tox-gh-actions
            - name: Run the test suite
              run: python -mtox --parallel auto --parallel-live -- -vvvvv

    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python 3.12
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"
            - name: Install tox
              run: python -m pip install --upgrade pip tox
            - name: Lint
              run: tox -e pep8

    coverage:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python 3.12
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"
            - name: Install tox
              run: python -m pip install --upgrade pip tox
            - name: Check code coverage
              run: tox -e cover